@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

:root {
  --brand-navy: #091533;
  --brand-cyan: #0faced;
  --brand-amber: #f5a623;
  --brand-red: #ff3b30;
  --brand-green: #34c759;
}

html {
  scrollbar-gutter: stable;
}

html > body[data-scroll-locked] {
  margin-right: 0px !important;
  --removed-body-scroll-bar-size: 0px !important;
}
